<div class="container">

  <p id="notice"><%= notice %></p>

  <div class="row">
      <h2 class="center"><%= @track.name %> di <%= @track.city %></h2>

    <div class="col s4">

    <p>
      </br>

      <strong class="bold">Indirizzo:</strong>
      </br>
      <%= @track.address %>

      </br></br>

      <strong class="bold">Regione:</strong>
      <%= @track.region %>

      </br></br>

      <strong class="bold">Area:</strong>
      <%= @track.zone %>
    </p>

    </div>

    <div class="col s8">
      <!-- <%= image_tag @track.cover.url(:large) %>-->
      <%= image_tag @track.city, size: "450x425" %>
    </div>

  </div>

<!--
  <p>
    <strong>Mag band:</strong>
    <%= @track.mag_band %>
  </p>

  <p>
    <strong>Length:</strong>
    <%= @track.length %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= @track.description %>
  </p>
-->
  
  <%= render @track.city %>

  <div class="center">
    <%= link_to tracks_path do %>
      <h3 class="grey-text text-darken-4"><%= icon('chevron-left') %> Back</h3>
    <% end %>
  </div>

  </br>

<% if admin_signed_in? %>
  <%= link_to 'Edit', edit_track_path(@track) %>
  <%= link_to 'New Track', new_track_path %>
<% end %>

</div>