<div class="row center container">
  <div class="row">

    <%= link_to pages_livetiming_path do %>
      <div id="card2rows" class="col s6">

        <div class="card small">
          <div class="card-image">
            <%= image_tag("livetiming-kart.jpg", :alt => "Livetiming Kart") %>
          </div>
          <div class="card-content">
            <h3 class ="rid row1 light-blue-text text-darken-3">Live Timing</h3>
          </div>
        </div>      

      </div>
    <% end %>

    <%= link_to pages_miscela_path do %>
      <div id="card2rows" class="col s6">

        <div class="card small">
          <div class="card-image">
            <%= image_tag("calcolo-miscela.jpg", :alt => "Calcolo della miscela") %>
          </div>
          <div class="card-content">
            <h3 class ="rid row2 light-blue-text text-darken-3">Calcolo Miscela</h3>
          </div>
        </div>

      </div>
    <% end %>

    <%= link_to pages_rapporti_path do %>
      <div id="card2rows" class="col s6">

        <div class="card small">
          <div class="card-image">
            <%= image_tag("rapporti-kart.jpg", :alt => "Rapporti Kart") %>
          </div>
          <div class="card-content">
            <h3 class ="rid row2 light-blue-text text-darken-3">Calcolo Rapporti</h3>
          </div>
        </div>

      </div>
    <% end %>

    <%= link_to tracks_path do %>
      <div id="card2rows" class="col s6">

        <div class="card small">
          <div class="card-image">
            <%= image_tag("livetiming-meteo.png", :alt => "Meteo") %>
          </div>
          <div class="card-content">
            <h3 class ="rid row1 light-blue-text text-darken-3">Live Meteo</h3>
          </div>
        </div>

      </div>
    <% end %>

  </div>
</div>