<div class="row center container">
	<div class="row">

	    <%= link_to pages_adria_path do %>
	      <div id="time_services" class="col s6">

	        <div class="card small">
	          <div class="card-image">
	            <%= image_tag("livetiming-adria.png", :alt => "Livetiming Adria") %>
	          </div>
	          <div class="card-content">
	            <h3 class ="rid light-blue-text text-darken-3">Adria</h3>
	          </div>
	        </div>

	      </div>
	    <% end %>

	    <%= link_to pages_sgk_path do %>
	      <div id="time_services" class="col s6">

	        <div class="card small">
	          <div class="card-image">
	            <%= image_tag("livetiming-lonato.jpg", :alt => "Livetiming Lonato") %>
	          </div>
	          <div class="card-content">
	            <h3 class ="rid light-blue-text text-darken-3">Lonato</h3>
	          </div>
	        </div>

	      </div>
	    <% end %>

	    <!-- Non carica l'IFRAME con http, serve https. Contattare Ficr
	    <%= link_to pages_ficr_path do %>
	      <div id="time_services" class="col s12">

	        <div class="card medium">
	          <div class="card-image">
	            <%= image_tag('livetiming-ficr.png', :alt => 'Livetiming FICR') %>
	          </div>
	          <div class="card-content">
	            <h3 class ="rid light-blue-text text-darken-3">Federazione Italiana Cronometristi</h3>
	          </div>
	        </div>      

	      </div>
	    <% end %>
		-->

	</div>
</div>