<html>
  <head>
    <title>EVG Motorsport</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!-- Google Font -->
    <%= stylesheet_link_tag "https://fonts.googleapis.com/css?family=Nova+Flat|Press+Start+2P|Doppio+One" %>

    <%= stylesheet_link_tag "https://fonts.googleapis.com/icon?family=Material+Icons" %>

    <!-- Google Analytics -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-66129212-1', 'auto');
      ga('send', 'pageview');

    </script>

  </head>

  <body>

  	<%= render "layouts/header" %>

  	<main>

    	<%= yield %>

	  </main>

  </body>

  	<script>

      $(document).ready(function(){
      
        // Sidebar
        $('.button-collapse').sideNav({
            menuWidth: 100, // Default is 240
            edge: 'right', // Choose the horizontal origin
            closeOnClick: true // Closes side-nav on <a> clicks, useful for Angular/Meteor
          }
        );

        $('.collapsible').collapsible();

        $('select').material_select();

        // Hide sideNav
        $('.button-collapse').sideNav('hide');
        // Show sideNav
        //$('.button-collapse').sideNav('show');

        // Dropdown
        $('.dropdown-button').dropdown({
             inDuration: 300,
             outDuration: 300,
             constrain_width: true, // Does not change width of dropdown to that of the activator
             gutter: 0, // Spacing from edge
             hover: true, // Activate on hover
             belowOrigin: true // Displays dropdown below the button
             }
        );
      });

      var range_type = 'input[type=range]';
      var range_mousedown = false;
      var left;

      $(document).on('input mousedown touchstart', range_type, function(e) {
        var thumb = $(this).siblings('.thumb');
        var width = $(this).outerWidth();

        // If thumb indicator does not exist yet, create it
        if (thumb.length <= 0) {
          thumb = $('<span class="thumb"><span class="value"></span></span>');
          $(this).after(thumb);
        }

        // Set indicator value
        thumb.find('.value').html($(this).val());

        range_mousedown = true;
        $(this).addClass('active');

        if (!thumb.hasClass('active')) {
          thumb.velocity({ height: "60px", width: "60px", top: "-20px", marginLeft: "-15px"}, { duration: 300, easing: 'easeOutExpo' });
        }

        if (e.type !== 'input') {
          if(e.pageX === undefined || e.pageX === null){//mobile
             left = e.originalEvent.touches[0].pageX - $(this).offset().left;
          }
          else{ // desktop
             left = e.pageX - $(this).offset().left;
          }
          if (left < 0) {
            left = 0;
          }
          else if (left > width) {
            left = width;
          }
          thumb.addClass('active').css('left', left);
        }

        thumb.find('.value').html($(this).val());
      });

      $(document).on('mousemove touchmove', range_wrapper, function(e) {
        var thumb = $(this).children('.thumb');
        var left;
        if (range_mousedown) {
          if (!thumb.hasClass('active')) {
            thumb.velocity({ height: '60px', width: '60px', top: '-20px', marginLeft: '-15px'}, { duration: 300, easing: 'easeOutExpo' });
          }
          if (e.pageX === undefined || e.pageX === null) { //mobile
            left = e.originalEvent.touches[0].pageX - $(this).offset().left;
          }
          else{ // desktop
            left = e.pageX - $(this).offset().left;
          }
          var width = $(this).outerWidth();

          if (left < 0) {
            left = 0;
          }
          else if (left > width) {
            left = width;
          }
          thumb.addClass('active').css('left', left);
          thumb.find('.value').html(thumb.siblings(range_type).val());
        }
      });


	  </script>

</html>
